.experiencia{
    padding-top: 5rem;
}
.experiencia__card {
    display: flex;
}
.experiencia__card-inv {
    display: flex;
    flex-direction: row-reverse;


}
.experiencia__titulo{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 5rem;
}
.experiencia__card-contenido {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.experiencia__card-imagen-1 {

    width: 70%;
    height: 500px;

    background: url("../../assets/img/encriptador.png") no-repeat center;
    background-size: contain;
    margin-bottom: 5rem;
}
.experiencia__card-imagen-2{
    width: 70%;
    min-width: 400px;
    height: 500px;

    background: url("../../assets/img/ahorcado.png") no-repeat center;
    background-size: contain;
    margin-bottom: 5rem;
}
.experiencia__card-titulo{

    font-size: 2rem;
    font-weight: bolder;
    line-height: 2.5rem;
}
.experiencia__card-texto{
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding: 2rem 0;
}
.experiencia-card-boton{
    padding: 1.5rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    color: #F5F5F5;
    background-color: #2A7AE4;
    border: 0;
}
.experiencia-card-boton:hover{

    color: #2A7AE4;
    background-color: #ffffff;
    border: solid #2A7AE4 1px;
}